name: ChatOps Retest
on:
  repository_dispatch:
    types: [retest-command]
permissions:
  actions: write
  issues: write
  pull-requests: write
jobs:
  retest:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Tests
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHA: ${{ github.event.client_payload.pull_request.head.sha }}
          PR_NUMBER: ${{ github.event.client_payload.github.payload.issue.number }}
          REPO: ${{ github.event.client_payload.github.payload.repository.full_name }}
        run: |
          echo "Triggering ci-tests for SHA: $SHA (PR #$PR_NUMBER)"
          gh workflow run ci-tests.yml --ref main -f sha=$SHA -R $REPO


