name: ChatOps CC
on:
  repository_dispatch:
    types: [cc-command, uncc-command]
permissions:
  issues: write
  pull-requests: write
jobs:
  cc:
    runs-on: ubuntu-latest
    steps:
      - name: Handle CC
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ISSUE_NUMBER: ${{ github.event.client_payload.github.payload.issue.number }}
          REPO: ${{ github.event.client_payload.github.payload.repository.full_name }}
          COMMAND: ${{ github.event.client_payload.slash_command.command }}
          ARGS: ${{ github.event.client_payload.slash_command.args.all }}
        run: |
          USER=$(echo $ARGS | tr -d '@')
          if [ "$COMMAND" == "cc" ]; then
            echo "Requesting review from $USER"
            gh pr review-request $ISSUE_NUMBER --repo $REPO --add-reviewer $USER
          elif [ "$COMMAND" == "uncc" ]; then
            echo "Removing review request for $USER"
            gh pr review-request $ISSUE_NUMBER --repo $REPO --remove-reviewer $USER
          fi


