name: Auto Merge
on:
  pull_request:
    types: [labeled, unlabeled, synchronize, opened, reopened, ready_for_review]

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Enable Auto-Merge
        if: contains(github.event.pull_request.labels.*.name, 'lgtm') && contains(github.event.pull_request.labels.*.name, 'approved') && !contains(github.event.pull_request.labels.*.name, 'do-not-merge/hold')
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_URL: ${{ github.event.pull_request.html_url }}
        run: |
          echo "Enabling auto-merge for $PR_URL"
          gh pr merge "$PR_URL" --auto --merge
